In [2]:
import random
import numpy as np 

import time
import datetime
import pandas as pd
import os
from tqdm import tqdm

In [47]:
pj_path = os.getenv('HOME') + '/Projects/JeongCheck'
data_path = pj_path + '/prediction_data_nsmc'

In [48]:
file_list = os.listdir(data_path)
print(len(file_list))
file_list

15

['water_pred.csv',
 'art_pred.csv',
 'oworld_pred.csv',
 'observatory_pred.csv',
 'dongchundang_pred.csv',
 'hanbat_pred.csv',
 'yuseong_pred.csv',
 'expo_pred.csv',
 'gyejok_pred.csv',
 'daecheong_pred.csv',
 'jangtae_pred.csv',
 'uineungjeongi_pred.csv',
 'science_pred.csv',
 'ppuri_pred.csv',
 'sungsimdang_pred.csv']

In [50]:
places = []
for file in file_list:
    tmp = file.split('_')[0]
    places.append(tmp)

In [51]:
places

['water',
 'art',
 'oworld',
 'observatory',
 'dongchundang',
 'hanbat',
 'yuseong',
 'expo',
 'gyejok',
 'daecheong',
 'jangtae',
 'uineungjeongi',
 'science',
 'ppuri',
 'sungsimdang']

In [52]:
test = pd.read_csv(data_path + f'/{file_list[0]}')
test.head()

,Unnamed: 0,name,ratings,date,comment,search,keyword,label,pred
0,0,김성주,5,9시간 전,가편하게 산책과 등산을 할 수 있는 곳,계룡산국립공원수통골지구,water_barrel,1,1
1,1,서알콩,5,1일 전,커피 한잔하기 딱 좋은 거리에요,계룡산국립공원수통골지구,water_barrel,1,1
2,2,윤설희,5,2일 전,비 오고 난 수통골,계룡산국립공원수통골지구,water_barrel,1,0
3,3,이상훈,4,2일 전,가족 나들이하기 정말 좋은 곳 국립공원이라 관리도 잘 돼있네요,계룡산국립공원수통골지구,water_barrel,1,1
4,4,송순이공주,5,2일 전,동네라서 자주 가는데 갈 때마다 좋은 곳이에요 이번에는 뱀이 나와서 좀 놀랐어요,계룡산국립공원수통골지구,water_barrel,1,1

In [57]:
def sentimentScore(df):
    data_len = len(df)
    data_label = df.label.sum()
    score = (data_label / data_len) *100
    return '%0.2f' %score

- 함수 테스트

In [73]:
score = sentimentScore(test)
score

'94.89'

In [60]:
for place, file_name in zip(places, file_list):
    print(file_name)

water_pred.csv
art_pred.csv
oworld_pred.csv
observatory_pred.csv
dongchundang_pred.csv
hanbat_pred.csv
yuseong_pred.csv
expo_pred.csv
gyejok_pred.csv
daecheong_pred.csv
jangtae_pred.csv
uineungjeongi_pred.csv
science_pred.csv
ppuri_pred.csv
sungsimdang_pred.csv

In [61]:
score_dict = {}
for place, file_name in zip(places, file_list):
    tmp_data = pd.read_csv(data_path + f'/{file_name}')
    score = sentimentScore(tmp_data)
    score_dict[place] = [score]

In [62]:
score_dict

{'water': ['94.89'],
 'art': ['80.68'],
 'oworld': ['81.76'],
 'observatory': ['92.31'],
 'dongchundang': ['93.58'],
 'hanbat': ['88.56'],
 'yuseong': ['90.21'],
 'expo': ['74.74'],
 'gyejok': ['93.84'],
 'daecheong': ['81.39'],
 'jangtae': ['90.00'],
 'uineungjeongi': ['68.77'],
 'science': ['88.19'],
 'ppuri': ['85.45'],
 'sungsimdang': ['83.32']}

In [71]:
sort_score = sorted(score_dict, key=score_dict.get, reverse=True)

In [72]:
sort_score

['water',
 'gyejok',
 'dongchundang',
 'observatory',
 'yuseong',
 'jangtae',
 'hanbat',
 'science',
 'ppuri',
 'sungsimdang',
 'oworld',
 'daecheong',
 'art',
 'expo',
 'uineungjeongi']

In [63]:
pd.DataFrame.from_dict(score_dict)

,water,art,oworld,observatory,dongchundang,hanbat,yuseong,expo,gyejok,daecheong,jangtae,uineungjeongi,science,ppuri,sungsimdang
0,94.89,80.68,81.76,92.31,93.58,88.56,90.21,74.74,93.84,81.39,90.00,68.77,88.19,85.45,83.32